@model Mock_EMR_Software.ViewModel.DetailView
@using Mock_EMR_Software.DAL
@using Mock_EMR_Software.Models


@{
    ViewBag.Title = "Details";
    
}

        <style>
            .discharge-link:link {
                text-decoration: none;
            }
            
            .discharge-link:visited{
                
            }

            .discharge-link:hover {
                text-decoration: none;
                color:crimson;
                transition-delay: 0.4s;
                transition: ease-in-out 0.4s;
                
            }
        </style>




<br />
<h2>Details</h2>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<br />

<div>
    <h4>Patient</h4>
    <!--Discharge Button-->
    <div class="discharge-link" style="font-size: 25px; text-align:center;">
        @Html.ActionLink("Discharge", "Delete", new { id = Model.patientGUID }, new { @class = "discharge-link"})
    </div>
    <br />
    <hr />


    <dl class="dl-horizontal">
        @foreach (var item in Model.Patients)
        {
            <dt>
                First Name
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.firstName)
            </dd>

            <dt>
                Last Name
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.lastName)

            </dd>

            <dt>
                Date Admitted
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.dateAdmitted)
            </dd>
        }
    </dl>
</div>



<h4>Orders</h4>
<p>
    @Html.ActionLink("Create Order", "Create", "Order", null, null)
</p>

<table class="table">
    <tr>
        <th>
            Orders
        </th>
    </tr>

    @foreach (var item in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderName)
            </td>
        </tr>
    }

</table>

<br />

<!--Documents Table Here-->
<h4>Documents</h4>
<p>
    @Html.ActionLink("Add Document", "Create", "Document", new { id = Model.patientGUID }, null)
</p>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Comment
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model.Documents)
    {

        <tr>
            <td>@Html.DisplayFor(modelItem => item.documentName)</td>
            <td>@Html.DisplayFor(modelItem => item.Date)</td>
            <td>@Html.DisplayFor(modelItem => item.Body)</td>
        </tr>

    }
</table>
<hr />
<br />
<p>©Tristan Linnen</p>
