@model IEnumerable<Mock_EMR_Software.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<br />
<h2 id="page-title">Patients</h2>

<div id="greeting">
<p>Welcome. Below are the patients in your system. Click "details" to discharge a patient, view comments, prescriptions and to add new ones</p>
</div>

<p>
    @Html.ActionLink("Admit Patient ", "Admit")
</p>
<table class="table">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Date Admitted
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateAdmitted)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.patientGUID }) 
        </td>
    </tr>
}

</table>
<p>©Tristan Linnen</p>