@model Mock_EMR_Software.Models.Documents

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.firstName)
            @Html.DisplayNameFor(model => model.Patient.lastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patient.firstName)
            @Html.DisplayFor(model => model.Patient.lastName)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.documentName)
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.documentName)
            @Html.DisplayFor(model => model.Body)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
