@model PatientPortalApplication.Models.Comments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Comments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Patient.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Patient.first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.commentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
