@model Mock_EMR_Software.ViewModel.DetailView
@using Mock_EMR_Software.DAL
@using Mock_EMR_Software.Models


@{
    ViewBag.Title = "Details";
    
}

        <style>
            .discharge-link:link {
                text-decoration: none;
            }
            
            .discharge-link:visited{
                
            }

            .discharge-link:hover {
                text-decoration: none;
                color:crimson;
                transition-delay: 0.4s;
                transition: ease-in-out 0.4s;
                
            }
        </style>




<br />
<h2>Details</h2>

<p>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Edit", "Edit", new { id = Model.patientId })
</p>
<br />

<div>
    <h4>Patient</h4>
    <!--Discharge Button-->
    <div class="discharge-link" style="font-size: 25px; text-align:center;">
        @Html.ActionLink("Discharge", "Delete", new { id = Model.patientId }, new { @class = "discharge-link"})
    </div>
    <br />
    <hr />


    <dl class="dl-horizontal">
        <!--Come back later to fix-->
        @foreach (var item in Model.Patients)
        {
            <dt>
                First Name
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.first_name)
            </dd>

            <dt>
                Last Name
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.last_name)

            </dd>

            <dt>
                Date Admitted
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.date_admitted)
            </dd>
        }
    </dl>
</div>




<!--Prescrips-->
<h4>Prescriptions</h4>
<p>
    @Html.ActionLink("Add prescription", "Create", "Prescrip", null, null)
</p>

<table class="table">
    <tr>
        <th>
            Prescription
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Prescrips)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prescriptions)
            </td>
        </tr>

    }

</table>

<br />

<!--Comments Table Here-->
<h4>Comments</h4>
<p>
    @Html.ActionLink("Add comment", "Create", "Comment", new { id = Model.patientId }, null)
</p>

<table class="table">
    <tr>
        <th>
            Date
        </th>
        <th>
            Comment
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model.Comments)
    {

        <tr>
            <td>@Html.DisplayFor(modelItem => item.date)</td>

            <td>@Html.DisplayFor(modelItem => item.comment)</td>
        </tr>


    }
</table>
<hr />
<br />
<p>©Tristan Linnen</p>
